# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# Node / Frontend
node_modules/
dist/
build/
.env
.env.local
.DS_Store

# Python / ML
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# IDEs
.idea/
.vscode/
*.swp
*.iml

# Large Files / Datasets
*.zip
*.mp4
ml-service/Traffic Dataset/
ml-service/new-plant-diseases-dataset.zip
